.box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 299px;
  height: 93px;
  background: #670A8E;
  border-radius: 7px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.box2 {
  width: 285px;
  height: 86px;
  background: #670A8E;
  border-radius: 7px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.box3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 370px;
  height: 86px;
  background: #670A8E;
  border-radius: 7px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.boxNumber {
  width: 39px;
  height: 55px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.02em;
  color: #670A8E;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
}

.boxTextDescription1 {
  width: 279px;
  height: 73px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.boxTextDescription2 {
  width: 265px;
  height: 66px;
  left: 10px;
  top: 10px;
  
  /* Bold */
  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  
  color: #FFFFFF;
}

.boxTextDescription3 {
  width: 350px;
  height: 66px;  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}